@import './../../assets/variables.scss';

.podcasts__container {
  text-align: center;
  margin: 0 1rem;

  @media all and (min-width: 769px) {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.podcasts__search {
  margin: 1rem;

  p {
    background: $primary-color;
    color: $text-secondary-color;
    border-radius: 5rem;
    padding: 0.25rem;
    margin: 0;
  }

  input {
    margin: 0 1rem;
  }

  @media all and (min-width: 769px) {
    display: flex;
    justify-content: flex-end;
  }
}
